* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #2d2d30;
  color: white;
}

nav {
  padding-top: 20px;
  text-align: center;
}

nav ul li {
  background-color: #1f1f1f;
  border-radius: 3px;
  display: inline-block;
  padding: 2px 15px;
  margin: 0 5px;
  cursor: pointer;
  color: white;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  color: #dde2f1;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wrapper .search_box {
  width: 500px;
  background: #fff;
  border-radius: 5px;
  height: 65px;
  display: flex;
  padding: 10px;
  box-shadow: 0 8px 6px -10px #b3c6ff;
}

.wrapper .search_box .dropdown {
  width: 150px;
  border-right: 2px solid #dde2f1;
  color: #9fa3b1;
  position: relative;
  cursor: pointer;
}

.wrapper .search_box .dropdown .default_option {
  text-transform: uppercase;
  padding: 13px 15px;
  font-size: 14px;
}

.wrapper .search_box .dropdown ul {
  position: absolute;
  top: 70px;
  left: -10px;
  background: #fff;
  width: 150px;
  border-radius: 5px;
  padding: 20px;
  display: none;
  box-shadow: 8px 8px 6px -10px #b3c6ff;
}

.wrapper .search_box .dropdown ul.active {
  display: block;
}

.wrapper .search_box .dropdown ul li {
  padding-bottom: 20px;
}

.wrapper .search_box .dropdown ul li:last-child {
  padding-bottom: 0;
}

.wrapper .search_box .dropdown ul li:hover {
  color: #6f768d;
}

.wrapper .search_box .dropdown:before {
  content: "";
  position: absolute;
  top: 18px;
  right: 20px;
  border: 8px solid;
  border-color: #5078ef transparent transparent transparent;
}

.wrapper .search_box .search_field {
  width: 350px;
  height: 100%;
  position: relative;
}

.wrapper .search_box .search_field .input {
  width: 100%;
  height: 100%;
  border: 0px;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 38px;
  color: #6f768d;
}

.wrapper .search_box .search_field .fas {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 22px;
  color: #5078ef;
  cursor: pointer;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #9fa3b1;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #9fa3b1;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: #9fa3b1;
}

.data {
  margin-top: 20px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 50vh;
}

pre {
  width: 500px;
  height: 350px;
  overflow-y: auto;
  border-radius: 8px;
  background: #1f1f1f !important;
  margin-left: 50%;
  transform: translate(-50%);
}

code {
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.item {
  width: auto;
  height: 100px;
  border-radius: 3px;
  background-color: #1f1f1f;
  font-size: large;
  margin-bottom: 8px;
}

.item ul button {
  background-color: #1f1f1f;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  right: 10px;
  margin-top: 40px;
  float: right;
  padding-right: 15px;
}

.item ul li {
  display: inline-block;
  padding: 2.5% 15px;
}

/* Toggle */

.typeToggle {
  width: 100%;
  text-align: center;
}

.toggle {
  --width: 80px;
  --height: calc(var(--width) / 3);

  position: relative;
  display: inline-block;
  width: var(--width);
  height: var(--height);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: var(--height);
  cursor: pointer;
}

.toggle input {
  display: none;
}

.toggle .slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--height);
  background-color: #ccc;
  transition: all 0.4s ease-in-out;
}

.toggle .slider::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: calc(var(--height));
  height: calc(var(--height));
  border-radius: calc(var(--height) / 2);
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease-in-out;
}

.toggle input:checked + .slider {
  background-color: #2196f3;
}

.toggle input:checked + .slider::before {
  transform: translateX(calc(var(--width) - var(--height)));
}

.toggle .labels {
  position: absolute;
  top: 8px;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 12px;
  font-family: sans-serif;
  transition: all 0.4s ease-in-out;
}

.toggle .labels::after {
  content: attr(data-off);
  position: absolute;
  right: 5px;
  color: #4d4d4d;
  opacity: 1;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  transition: all 0.4s ease-in-out;
}

.toggle .labels::before {
  content: attr(data-on);
  position: absolute;
  left: 5px;
  color: #ffffff;
  opacity: 0;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.4);
  transition: all 0.4s ease-in-out;
}

.toggle input:checked ~ .labels::after {
  opacity: 0;
}

.toggle input:checked ~ .labels::before {
  opacity: 1;
}

/* Input */
.data span {
  position: relative;
  display: inline-block;
  margin: 10px 10px;
  background-color: #1f1f1f;
  border-radius: 3px;
  width: 50%;
}

.data span label {
  height: 100%;
  padding-left: 10px;
  padding: 10px 10px;
  float: left;
}

.basic-slide {
  width: 300px;
  padding: 10px 10px 15px;
  font-weight: 400;
  color: black;
  background: #efefef;
  border: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  outline: 0;
  float: right;
}

.btn {
  width: 35%;
  height: 3vh;
  background-color: #1f1f1f;
  color: #fff;
  font-size: large;
  border: none;
  border-radius: 3px;
}

.btn:hover {
  cursor: pointer;
}